# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# Virtual Environment
venv/

# Environment Variables
.env

# SQLite database files
*.db
*.sqlite3

# Pytest cache
.pytest_cache/

# IDE-specific files
.vscode/
.idea/
